work/
output/
debian/build/
debian-pkg/compare-configs.sh
debian-pkg/debian/control
debian-pkg/debian/rules.gen
debian-pkg/debian/generated.signed-*/rules.gen
*.tar.xz
*.tar.gz
*.deb
*.dsc
*.buildinfo
*.changes
QWEN.md
debian-pkg/debian/control.md5sum
debian-pkg/debian/generated.signed-*/
